---
import Layout from "./layout.astro";
import { ChevronLeft } from "lucide-react";
---

<Layout>
  <a href="/" class="text-lg flex items-center gap-2 mb-4">
    <ChevronLeft size={14}/>
    Home
  </a>
  <div
    class="prose prose-invert prose-neutral relative mb-10
           prose-a:bg-red-900 prose-a:no-underline prose-a:rounded prose-a:px-1
           prose-img:max-h-96 prose-img:object-contain
           lg:prose-img:max-w-60 lg:prose-img:w-auto lg:prose-img:absolute lg:prose-img:translate-x-[-110%] lg:prose-img:translate-y-[-7%]"
  >
    <slot />
  </div>
</Layout>
